<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magoarab" translate="label" sortOrder="100">
            <label>MagoArab</label>
        </tab>
        <section id="phonemail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PhoneMailer</label>
            <tab>magoarab</tab>
            <resource>MagoArab_PhoneMailer::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="domain_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Domain Mode</label>
                    <source_model>MagoArab\PhoneMailer\Model\Config\Source\DomainMode</source_model>
                    <comment>Select how to generate the email domain</comment>
                </field>
                <field id="custom_domain" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Email Domain</label>
                    <comment>Custom domain for generating emails (e.g., example.com)</comment>
                    <depends>
                        <field id="domain_mode">custom</field>
                    </depends>
                </field>
            </group>
            <group id="whatsapp" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>WhatsApp Integration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable WhatsApp Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>API Key for WhatsApp Business API</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="instance_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp Instance ID</label>
                    <comment>Instance ID for WhatsApp Business API</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="test_connection" translate="label" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Connection</label>
                    <frontend_model>MagoArab\PhoneMailer\Block\Adminhtml\System\Config\Field\TestConnection</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="templates" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Templates</label>
                    <comment>JSON format for different notification templates. Available variables: {{order_id}}, {{customer_name}}, {{total}}, {{store_name}}, {{tracking_number}}</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>